<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-details">
        <h2>Movie Form</h2>
        <button mat-stroked-button color="basic" type="button" (click)="updateMovie()">Load Sample Movie</button>
    </div>

    <div class="inputs-container">
        <div>
            <h3>Primary Information</h3>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>

            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Rating</mat-label>
                    <input matInput formControlName="rating" required>
                </mat-form-field>
            </div>


            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Genre</mat-label>
                    <input matInput formControlName="genre" required>
                </mat-form-field>
            </div>



            <h3>Cast & Crew</h3>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Director</mat-label>
                    <input matInput formControlName="director" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Writer</mat-label>
                    <input matInput formControlName="writer" required>
                </mat-form-field>
            </div>


            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Star</mat-label>
                    <input matInput formControlName="star" required>
                </mat-form-field>
            </div>


        </div>

        <div>
            <h3>Additional Details</h3>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Budget</mat-label>
                    <input type="number" min="0" matInput formControlName="budget" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Company</mat-label>
                    <input matInput formControlName="company" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Runtime</mat-label>
                    <input type="number" min="0" matInput formControlName="runtime" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <input type="number" min="1900" max="2050" matInput formControlName="year" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Released</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="releasedDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!movieForm.valid || requestPending">
        Get Score!
    </button>

    <span *ngIf="requestPending">Loading score...</span>

    <div *ngIf="score !== null">
        <h2>The score of '{{ movieForm.value.name }}' is {{ score }}!</h2>
    </div>
</form>
